
  <div class="container">
    <div class="row">
        <form class="col s6" method="post" id="activity_form" action="/activities">
          <input type="hidden" name="place_id">
          <div class="row">
            <div class="input-field col s12">
              <input id="pac-input" class="controls" type="text" class="validate" placeholder="">
              <label for="Add Google Place">Add Google Place</label>
            </div>
            <div class="col s12">
              <p>or</p>
            </div>
            <div class="input-field col s12">
              <input id="" anme="activity_name" type="text" class="validate" placeholder="">
              <label for="activity_name">Activity Name</label>
            </div>
            <div class="input-field col s12">
              <input id="" name="pitch" type="text" class="validate" placeholder="">
              <label for="pitch">Activity Pitch</label>
            </div>
            <div class="input-field col s12">
              <input id="" name="image" type="text" class="validate" placeholder="">
              <label for="image">Image</label>
            </div>
            <div class="input-field col s12">
              <input id="" name="url" type="text" class="validate" placeholder="">
              <label for="url">Url</label>
            </div>
            <div class="input-field col s12">
              <button type="submit" class="waves-effect waves-light btn col s12" name="action">Add Event</button>
            </div>
          </div> 
        </form>
     </div>
  </div>


