  <main>
    <div class="container">
      <div class="card-panel">
      <ul class="tile">
        <div id="gig-content">
        <p> <img src="<%= user.profile_picture %>"></p>
        </div>
      </ul>
      <div id="name">
      <p> <%= user.first_name %> </p>
      </div>
    </div>
    </div>
    <div class="container" id="activitycolumns">
      <div class="row">
        <ul>
          <li><div class="col s6" id="lefthalf"><a href="#!" class="go-to-group-page"><%= groups[0].name %><% groups[0]._id %></a></div></li>
          <li><div class="col s6" id="righthalf"><a href="#!" class="go-to-group-page"><%= groups[1].name %></div></li>
        </ul>
      </div>
    </div>
    <div class="container" id="activitycolumns">
      <div class="row">
        <ul>
          <li><div class="col s6" id="lefthalf"><a href="#!" class="go-to-group-page"><%= groups[2].name %></div></li>
          <li><div class="col s6" id="righthalf"><a href="#!" class="go-to-group-page"><%= groups[3].name %></div></li>
        </ul>
      </div>
    </div>
  </main>

